@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


img {
    margin-top: 15px;
    width: calc(100% - 30px);
    border-radius: 10px;
}


.container {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-bottom: 1rem;
}

h3 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0 27px;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 0 27px;
}