@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


img {
    margin-top: 1rem;
    max-width: calc(100% - 2rem);
    border-radius: 0.7rem;
}


.container {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    max-width: 19rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h3 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0 1.7rem;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 0 1.7rem 2rem;
}